body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}

.aligned-childs-horizontally div {
	float: left;
    clear: none;
}

.navbar-header{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	position: relative;
}


.logo{
	margin-left: 10px;
}

.container-nav{
	margin: 0;
}

.nav-toggle-custom{
	position: absolute;
  	bottom: 0;
  	right: 0;
}